@charset "UTF-8";

h2 {
	width: 1120px;
	height: 22px;
	padding: 50px 0 20px;
	border-bottom: 2px solid black;
	font-size: 22px;
	margin: 0 auto;
}

span {
	color: #444;
	font-size: 18px;
	font-weight: bold;
	width: 400px;
	display: inline-block;
}

#birth {
	color: #444;
	font-size: 18px;
	font-weight: bold;
	width: 180px;
	display: inline-block;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	width: 800px;
	padding-top: 30px;
}

li {
	height: 50px;
	font-size: 18px;
}